@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@custom-variant hover (&:hover);
@plugin 'tailwind-scrollbar';

